$hover-color: var(--hover-color, blue);
$z-index: var(--z-index, 1);

.Resizer {
  display: flex;
  width: 5px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  cursor: col-resize;
  z-index: $z-index;
  &_left {
    top: 0;
    left: 0;
  }
  &_right {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  &_chain {
    top: 0;
    left: 100%;
    transform: translateX(-50%);
  }
  &:hover {
    background-color: $hover-color;
  }
}
