.Word {
  display: flex;
  flex-direction: column;
  color: black;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: grab;
  white-space: nowrap;
  background-color: #add8e6;
  &:hover {
    background-color: #add8e6aa;
    transition: background-color 0.2s ease-in-out;
  }
  &_selected {
    opacity: 50%;
    border: 1px solid white;
  }
  &_draggable {
    box-shadow: 0 4px 8px 0 white;
    transform: translateY(5px);
    transition:
      0.2s ease-in-out transform,
      0.2s ease-in-out box-shadow;
    cursor: grabbing;
  }
  &__WordTitle {
    user-select: none;
    position: relative;
  }
  &__PhonemesContainer {
    display: flex;
    position: relative;
    height: 30px;
  }
}
