.Word {
  display: flex;
  flex-direction: column;
  color: black;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  background-color: #add8e6;
  &:hover {
    background-color: #add8e6aa;
    transition: 0.2s ease-in-out all;
  }
  &_selected {
    opacity: 50%;
    border: 1px solid white;
  }
  &__WordTitle {
    user-select: none;
    position: relative;
  }
  &__PhonemesContainer {
    display: flex;
    position: relative;
    height: 30px;
  }
}
