.Phoneme {
  position: absolute;
  color: black;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: grab;
  white-space: nowrap;
  background-color: #ffff99;
  &__Title {
    user-select: none;
  }
  &:hover {
    background-color: #ffff99aa;
    transition: 0.2s ease-in-out background-color;
  }
  &_withoutLeftBorder {
    border-left: none;
  }
  &_withoutRightBorder {
    border-right: none;
  }
  &_draggable {
    box-shadow: 0 4px 8px 0 white;
    transform: translateY(5px);
    transition:
      0.2s ease-in-out box-shadow,
      0.2s ease-in-out transform;
    cursor: grabbing;
  }
}
