.HomePage {
  display: flex;
  flex-direction: column;
  &__Title {
    text-align: center;
  }
  &__Waveform {
    display: flex;
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #ccc;
    scrollbar-color: #505354 #707374;
    scrollbar-width: none;
  }
  &__TimeScale {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #ccc;
    scrollbar-color: #505354 #707374;
    scrollbar-width: none;
  }
  &__WordsDataContainer {
    position: relative;
    height: 100px;
    border: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #505354 #707374;
    scrollbar-width: thin;
  }
  &__WordsData {
    position: relative;
    height: 100px;
  }
  &__TimeIndicator {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: red;
    pointer-events: none;
    z-index: 10;
  }
}
